body {
  width: 200px;
  margin: auto;
  font: 1em sans-serif;
}

h1 {
  font-size: 1.3em;
}

form > p {
  width: 100%;
  display: flex;
  flex-direction: column;
}

form > button {
  width: 100%;
}

form label {
  margin-bottom: 0.2em;
}

input:valid {
  border: 3px solid green;
}

input:invalid {
  border: 3px solid red;
  background-color: #ff000021;
}

input:focus {
  outline: none;
  background-color: #ffffff;
}

span.error {
  color: red;
  font-size: 0.8em;
  padding: 0;
}

span.error.active {
  padding: 0.3em;
}
