body {
  width: 200px;
  margin: auto;
  font: 1em sans-serif;
}

h1 {
  font-size: 1.3em;
}

form > p {
  width: 100%;
  display: flex;
  flex-direction: column;
}

form > button {
  width: 100%;
}

input:valid {
  border: 3px solid green;
}

input:invalid {
  border: 3px solid red;
  background-color: #ff000021;
}

input:focus {
  outline: none;
  background-color: #ffffff;
}
